.im-quicktools {
  &-modal {
    &-setting {
      width: 256px;
      max-width: calc(100% - 38px);
      max-height: calc(100% - 192px);
      margin: 0 16px;
      padding: 16px;
      border: 3px solid #2c2c2c;
      border-radius: 8px;
      background-color: #1c1c1c;
      overflow: auto;
      &-title {
        margin-bottom: 16px;
        color: #ffffff;
        &:not(:first-child) {
          margin-top: 24px;
        }
      }
      &-button {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 8px 16px;
        border: 3px solid #2c2c2c;
        border-radius: 8px;
        color: #ffffff;
        background-color: #1c1c1c;
        text-align: center;
        transition: all 0.3s;
        cursor: pointer;
        &:not(:first-child) {
          margin-top: 16px;
        }
        &:hover {
          color: #888888;
        }
      }
      &-input-group {
        display: flex;
        align-items: center;
        margin-top: 16px;
        color: #ffffff;
        label {
          flex: 1;
        }
        input {
          width: 60px;
          padding: 4px 8px;
          border: 2px solid #2c2c2c;
          border-radius: 4px;
          background-color: #1c1c1c;
          color: #ffffff;
          text-align: center;
          &:focus {
            outline: none;
            border-color: #288828;
          }
        }
        span {
          margin-left: 4px;
        }
      }
    }
  }
}
